/*
* This is a manifest file that includes stylesheets for spree_elasticsearch
 *= require ion.rangeSlider
 *= require ion.rangeSlider.skinFlat
*/

.slider {
  padding: 0px 5px 0px 5px;
}

.slider-input {
  text-align: center;
}

.slider-input input[type="text"] {
  width: 75px;
}
